<header
  class="flex justify-center items-center py-8 w-full max-w-[1120px] mx-auto fixed top-0 left-0 right-0 bg-black bg-opacity-100 z-50"
>
  <nav class="flex flex-row gap-x-16">
    <a href="#hero" class="hover:text-sky-200 duration-300 ease-in-out">Home</a>
    <a href="#about" class="hover:text-sky-200 duration-300 ease-in-out"
      >About Me</a
    >
    <a href="#projects" class="hover:text-sky-200 duration-300 ease-in-out"
      >Projects</a
    >
    <a href="#skills" class="hover:text-sky-200 duration-300 ease-in-out"
      >Skills</a
    >
    <a href="#contact" class="hover:text-sky-200 duration-300 ease-in-out"
      >Contact</a
    >
  </nav>
</header>
